##################################
######## Common Settings #########
##################################
# PLACE GLOBAL SETTINGS HERE
## These settings will apply to all instances.

# Discord Alerts
discordalert="on"
discordwebhook=""

# Updates
updateonstart="on"

# Backups
maxbackups="15"
maxbackupdays="31"
stoponbackup="on"
