## direnv schenanigans
# runs these commands when you cd into this directory

# Grab the vault password from the MacOS keychain
export ANSIBLE_VAULT_PASSWORD_FILE=$(pwd)/ansible/.scripts/ansible-vault-keychain-get-password.sh
export no_proxy='*'

# Set the KUBECONFIG to the homelab cluster
export KUBECONFIG=~/.kube/config_homelab
