# ingored file endings
*.swo
*.swp

# ignored directories
.aspell/
.cache/
.dlv/.*
.gnugp/
.gnupg/
.gnupg_pre_2.1/
.config/gcloud/
.vscode/
.idea/
.roles/

# ignored files
.CFUserTextEncoding
.DS_Store
.bash_history
.dockercfg
.lesshst
.npmrc
.rnd
.sh_history
.viminfo
crash.log
/roles

# Ansible
/ansible/roles/.tmp
/ansible/docker_pass

# Terraform
/terraform/.terraform*
