[Unit]
Description=Node Exporter Folder Creator
After=network.target

[Service]
Type=simple
ExecStartPre=
ExecStart=/usr/bin/mkdir /tmp/prometheus_collector
Restart=on-abort

[Install]
WantedBy=multi-user.target
